.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}




.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 5px;
}


/* Sidebar */
#sidebar label {
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
}

#sidebar a {
  display: inline;
  font-size: 12px;
  padding-bottom: 6px;
}

#sidebar h5 {
  font-weight: bold;
  margin-bottom: 6px;
}

#sidebar div.difficulty-list, div.game-list {
  margin-bottom: 10px;
}


p.empty-results {
  font-style: italic;
}


/* Level */
.level {
  padding: 6px;
  margin-bottom: 6px;
}

.level .panel-heading {
  cursor: pointer;
  padding-right:6px;
  padding-left:6px;
}

.level .panel-body {
  padding: 0px;
  padding-top: 6px;
}
.level h3.title {
  color: #000;
  margin: 0;
  text-align: right;
}

.level img.logo {
  float:left;
  width:100px;
  height:30px;
}

.level p {
  color: #333;
}

.level span.difficulty {
  float:left;
  font-size: 18px;
  padding-left: 6px;
}

.level p.id {
  text-align: right;
}
.level div.thumbs {
  float:right;
}

.level span.glyphicon {
  display: block;
  text-align: right;
  font-size: 24px;
}
.level span.points {
  color: #666;
  float:right;
  font-size: 24px;
  margin-right: 6px;
  margin-top: 8px;
}

.level div.completed {
  clear: both;
  float:right;
  padding-top: 6px;
}

.level div.completed label {
  font-weight: normal;
  vertical-align: top;
}

.level img.levelimg {
  padding-left:6px
}

.level p.description {
  width:75%;
  padding-left:6px
}

.level div.tags {
  clear:both;
}

.level div.tags .tag {
  margin-right: 6px;
}
