<div class="panel panel-primary level bg-success">
  <div class="panel-heading">
    <img class="logo" ng-if= "level.game == 'smw'" src="images/smw-logo.png" /> 
    <img class="logo" ng-if= "level.game == 'smb'" src="images/smb-logo.png" /> 
    <img class="logo" ng-if= "level.game == 'smb3'" src="images/smb3-logo.png" /> 
    <img class="logo" ng-if= "level.game == 'smbu'" src="images/smbu-logo.png" /> 
    <h3 class="title"><a ng-href="#/{{level.ID}}">{{level.title}}</a></h3>
  </div>
  <div class="panel-body">
    <span class="difficulty text-success">{{level.difficulty}}</span>
    <p class="id">{{level.ID}}</p>
    <div class="thumbs">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
    </div>
    <span class="points">{{level.points > 0 ? "+" + level.points : level.points}}</span>
    <div class="completed">
        <input type="checkbox" ng-model="level.completed">
        <label>Completed</label>
    </div>
    <img class="levelimg" ng-if="level.img" ng-src="{{level.img}}" />
    <p class="description" ng-if="level.description">{{description}} <a ng-if="shortenDescription == 'true'" ng-href="#/{{level.ID}}" style="font-size:12px;">Read More...</a></p>
    <div class="tags">
      <button type="button" class="btn btn-info btn-xs tag" ng-repeat="tag in level.tags">{{tag.title}}</button>
    </div>
  </div>
</div>