<div class="row">
	<div class="col-md-6 col-md-offset-3 createForm">
		<div class="inputTitle">
			<label>Title*</label>
			<input type="text" ng-model="create.title" />
		</div>
		<div class="inputID">
			<label>ID*</label>
			<input type="text" ng-model="create.ID" />
		</div>
		<div class="inputGame">
			<label>Game Type*</label>
			<select ng-model="create.game">
				<option value="smb">Super Mario Bros.</option>
				<option value="smw">Super Mario World</option>
				<option value="smb3">Super Mario Bros. 3</option>
				<option value="smbu">New Super Mario Bros. U</option>
			</select>
		</div>
		<div class="inputDifficulty">
			<label>Difficulty*</label>
			<select ng-model="create.difficulty">
				<option value="Easy">Easy</option>
				<option value="Medium">Medium</option>
				<option value="Hard">Hard</option>
			</select>
		</div>
		<div class="inputDescription">
			<label>Description</label>
			<textarea ng-model="create.description"></textarea>
		</div>
		<button ng-click="create.createLevel()">Submit</button>
	</div>
</div>