<div class="row marketing" ng-controller="MainCtrl">
  <div class="col-md-3" id="sidebar">
    <div class="difficulty-list">
      <h5>Difficulty</h5>
      <a ng-click="main.selectAllDifficulty()">Select All</a>
      <div class="difficulty-check">
        <input type="checkbox" ng-model="main.filters.difficulty.Easy" ng-change="main.updateFilter()">
        <label>Easy</label>
      </div>
      <div class="difficulty-check">
        <input type="checkbox" ng-model="main.filters.difficulty.Medium" ng-change="main.updateFilter()">
        <label>Medium</label>
      </div>
      <div class="difficulty-check">
        <input type="checkbox" ng-model="main.filters.difficulty.Hard" ng-change="main.updateFilter()">
        <label>Hard</label>
      </div>
    </div>
    <div class="game-list">
      <h5>Game</h5>
      <a ng-click="main.selectAllGame()">Select All</a>
      <div class="game-check">
        <input type="checkbox" ng-model="main.filters.game.smb" ng-change="main.updateFilter()">
        <label>Super Mario Bros.</label>
      </div>
      <div class="game-check">
        <input type="checkbox" ng-model="main.filters.game.smw" ng-change="main.updateFilter()">
        <label>Super Mario World</label>
      </div>
      <div class="game-check">
        <input type="checkbox" ng-model="main.filters.game.smb3" ng-change="main.updateFilter()">
        <label>Super Mario Bros. 3</label>
      </div>
      <div class="game-check">
        <input type="checkbox" ng-model="main.filters.game.smbu" ng-change="main.updateFilter()">
        <label>New Super Mario Bros. U</label>
      </div>
    </div>
    <div class="tag-list">
      <h5>Tags</h5>
      <a ng-click="main.selectAllTag()">Select All</a>
      <div class="tag-check" ng-repeat="tag in main.filters.tags">
        <input type="checkbox" ng-model="tag.checked" ng-change="main.updateFilter()">
        <label>{{tag.title}}</label>
      </div>
    </div>
  </div>
  <div class="col-md-9">

    <div class="panel panel-primary level bg-success" ng-repeat="level in main.filtered.list || main.allLevels.list">
      <div class="panel-heading">
        <img class="logo" ng-if= "level.game == 'smw'" src="images/smw-logo.png" /> 
        <img class="logo" ng-if= "level.game == 'smb'" src="images/smb-logo.png" /> 
        <img class="logo" ng-if= "level.game == 'smb3'" src="images/smb3-logo.png" /> 
        <img class="logo" ng-if= "level.game == 'smbu'" src="images/smbu-logo.png" /> 
        <h3 class="title">{{level.title}}</h3>
      </div>
      <div class="panel-body">
        <p class="id">{{level.ID}}</p>
        <div class="thumbs">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        </div>
        <span class="points">{{level.points > 0 ? "+" + level.points : level.points}}</span>
        <div class="completed">
            <input type="checkbox" ng-model="level.completed">
            <label>Completed</label>
        </div>
        <p style="clear:none">Difficulty: {{level.difficulty}}</p>
        <div class="tags">
          <button type="button" class="btn btn-info btn-xs tag" ng-repeat="tag in level.tags">{{tag.title}}</button>
        </div>
      </div>
    </div>
    <p class="empty-results" ng-if="main.filtered.list.length == 0">No search results found :(</p>
  </div>
</div>
