<div class="row marketing" ng-controller="MainCtrl">
  <div class="col-md-2">
    <div>
      <a ng-click="main.selectAllDifficulty()">All</a>
      <div class="difficulty-check">
        <input type="checkbox" ng-model="main.difficulty.easy" ng-change="main.updateDifficultyFilter()">
        <label>Easy</label>
      </div>
      <div class="difficulty-check">
        <input type="checkbox" ng-model="main.difficulty.medium" ng-change="main.updateDifficultyFilter()">
        <label>Medium</label>
      </div>
      <div class="difficulty-check">
        <input type="checkbox" ng-model="main.difficulty.hard" ng-change="main.updateDifficultyFilter()">
        <label>Hard</label>
      </div>
    </div>
    <div>
      <a ng-click="main.selectAllGame()">All</a>
      <div class="game-check">
        <input type="checkbox" ng-model="main.game.smb" ng-change="main.updateGameFilter()">
        <label>Super Mario Bros.</label>
      </div>
      <div class="game-check">
        <input type="checkbox" ng-model="main.game.smb3" ng-change="main.updateGameFilter()">
        <label>Super Mario Bros. 3</label>
      </div>
      <div class="game-check">
        <input type="checkbox" ng-model="main.game.smw" ng-change="main.updateGameFilter()">
        <label>Super Mario World</label>
      </div>
      <div class="game-check">
        <input type="checkbox" ng-model="main.game.smbu" ng-change="main.updateGameFilter()">
        <label>New Super Mario Bros. U</label>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div ng-repeat="level in main.filtered.list || main.allLevels.list">
      <h4>{{level.title}}</h4>
      <p>ID: {{level.ID}}</p>
      <p>Game: {{level.game}}</p>
      <p>Difficulty: {{level.difficulty}}</p>
    </div>
    <p class="empty-results" ng-if="main.filtered.list.length == 0">No search results found :(</p>
  </div>
</div>
